<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>註冊頁面</title>
</head>
<body>
<form action="" method="POST">
  {% csrf_token %}
  註冊姓名:<input type="text" name="name">
  <br>
  註冊密碼:<input type="password" name="password">
  <br>
  <input type="submit" value="提交">
  <input type="button" onclick="backfunc()" value="返回">
  <script>
     function backfunc() {
          window.location.href='/login';
     }
  </script>
</form>

{% if messages %}
  <script>
    {% for msg in messages %}
        alert('{{ msg.message }}');
    {% endfor %}
  </script>
{% endif %}

</body>
</html>
